*
*
{
	padding:0px;
	margin:0px;
	font-family:Droid Serif;
	font-size:20px;
	//text-align:center;
}
header,section,footer,nav,article,hgroup
{
	display:block;
}
body
{
	padding:0px;
	margin:0px;
	font-family:Droid Serif;
	font-size:20px;
	text-align:center;
	display:block;
}
#head
{
	background:white;
	padding:10px;
	color:white;
	text-shadow:1px 1px 1px white,3px 3px 3px black;;
	
}
#content
{
	text-align:center;
	display:block;
	background:teal;

}
#sec0
{
	width:400px;
	display:block;
	float:left;
	height:500px;
	//background:teal;
	padding-top:10px;
}
#sec1
{
	width:450px;
	overflow:hidden;
	display:block;
	float:left;
	height:520px;
	background: url(../../asset/images/bg.gif);
	background-size:200px 500px;
	
}
#obj
{
	position:absolute;
	top:500px;
	left:440px;
	transition:.4s;
}
#start
{
	background:red;
	margin-bottom: 50px;
	box-shadow:0px 0px 2px 3px black inset;
	color:white;
	border:0px solid red;
	border-radius:50px;
	padding:20px;	
	transition:0.4s;
	cursor:pointer;

}
#start:hover
{
	background:white;
	color:#48f;

}

#gover
{
	width:400px;
    height:350px;
    background:red;
    color:lightgreen;
    position: absolute;
    left: 340px;
    padding:100px;
    font-family:Droid Serif;
    text-shadow:1px 1px 1px lightgreen,2px 2px 2px black;
    font-size:30px;
	transition:2s;
}